a{
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}
html{
    height: 100%;
}

body{
    margin: 0;
    font-family: "Roboto";
    height: 100%;
}


.main-box a{
    font-weight: 100;
    font-size: 2rem;
}


.main-box{
    min-height: 100vh;
    font: inherit;
    display: grid;
    grid-template-rows: 10% 42% auto 15%;
}


.menu {
    background-color: #FF9FFC;
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    align-items: center;
    flex: 0 0 10%;
}

.flex-element-logo{
    flex: 0 0 19.5%;
    
}

.flex-element-blog{
    flex-grow: 1;
}

.flex-element-discusion{
    flex-grow: 1;
}

.flex-element-contacts{
    flex-grow: 1;
}

.flex-element-aboutProject{
    flex-grow: 1;
}


/* .first-p{
    display: ;
} */

.content{
    display: flex;
    max-height: fit-content;
    justify-content: center;
}

.right-part{
    flex: 0 0 15%;
    max-height: fit-content;
}

.left-part{
    font-size: 2rem;
    max-height: fit-content;
}

.middle-part{
    flex: 0 0 auto;
    font-size: 300%;
    transform: translateY(92%);
    max-height: fit-content;
}

.social-media-bottom{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.soc-med-git{
    flex: 1 0 0;
    text-align: center;
    
}

.soc-med-tg{
    flex: 1 0 0;
    text-align: center;
}

.soc-med-mail{
    flex: 1 0 0;
    text-align: center;
}

.soc-med-tg center > *{
    display: inline-block;
    width: fit-content;
    max-height: fit-content;
}

.social-media-bottom a:hover{
    color: wheat;
}

.tg::before{
    content: '';
    background-size: cover;
    background-image: url(../images/123.png);
    width: 50px;
    height: 50px;
    display: inline-block;
    transform: translateY(25%);
    margin-right: 5px;
}

.mail::before{
    content: '';
    background-size: cover;
    background-image: url(../images/mail.png);
    width: 50px;
    height: 50px;
    display: inline-block;
    transform: translateY(25%);
    margin-right: 5px;
}
.git::before{
    content: '';
    background-size: cover;
    background-image: url(../images/github.png);
    width: 50px;
    height: 50px;
    display: inline-block;
    transform: translateY(25%);
    margin-right: 5px;
}

.main-text{
    font-size: 1.7rem;
    margin: 0 auto;
    max-width: 50%;
}



@font-face {
    font-family: "Roboto";
    src: url(../fonts/ROBOTOSLAB-REGULAR.TTF
    )format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster-Regular.ttf
    )format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}