/* #region global*/

.main-box button:hover{
    color: #ffa600;
}

.main-box button:active{
    background-color: #ffa600;
}
/*#endregion*/
/* #region main-box*/
.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden; /* scroll*/
    background-color: #4C1A4A;
}
.registration-box {
    width: 60vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-basis: inherit;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

input[type="submit"] {
    background-color: #4C1A4A;
    color: white;
    border: white;
    font: inherit;
    border-radius: 18px;
    border: black;
    width: 15%;
    height: 7%;
    cursor: pointer;
}
input[type="submit"]:hover {
    color: #ffa600;
}

/*#region quastion-box*/
.question-box {
    position: relative;
    width: 46vw;
    height: 600px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-choice-over-two {
    display: flex;
    height: fit-content;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    top: 20%;
    width: inherit;
}

.flex-button {
    flex-grow: 0.3;
    width: 2.6vw;
    height: 5vw;
    font-size: 2.1vw;

}

/*#region classes with animation*/

.animation-for-quastion-box {
    animation-name: animation-after-get-answer;
    animation-duration: 2.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.animation-for-label {
    animation-name: label-animation;
    animation-duration: 2.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.animation-for-input {
    animation-name: input-animation;
    animation-duration: 2.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}
/*#endregion*/
form input {
    width: 42%;
    max-height: fit-content;
}

form label {
    margin-left: 20%;
    font-size: 2.3vh;
    max-height: fit-content;
}

.registration-form-visiable {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-row-gap: 4%;
    margin-top: -3%;
    height: 40vh;
    grid-template-rows: 80px 80px 80px 80px;
    width: 100%;
}
/* #endregion*/

/* #endregion*/



/* #region animation*/
@keyframes animation-after-get-answer {
    100% {
        height: 90%;
        width: 80%;
        transform: translateY(10%);
    }
}

@keyframes input-animation {
    100% {
        width: 104%;
        transform: translateX(-10%);
    }
}

@keyframes label-animation {
    100% {
        margin-left: 3%;
    }
}
/* #endregion*/

