/* #region global*/

.main-box button:hover{
    color: #ffa600;
}

.main-box button:active{
    background-color: #ffa600;
}
/*#endregion*/


/*#region menu*/


/* #endregion*/


/* #region main-box*/
.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden; /* scroll*/
    background-color: #4C1A4A;
}

/*#region quastion-box*/
.quastion-box {
    position: relative;
    width: 40vw;
    height: 600px;
    background-color: #fff;
}

.button-choice-over-two {
    display: flex;
    height: fit-content;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    top: 20%;
}

.flex-button {
    flex-grow: 0.3;
    width: 1.6vw;
    height: 5vw;
    font-size: 2.1vw;

}

.animation-for-quastion-box {
    animation-name: animation-after-get-answer;
    animation-duration: 2.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

/* #endregion*/

/* #endregion*/



/* #region animation*/
@keyframes animation-after-get-answer {
    100% {
        height: 90%;
        width: 80%;
        transform: translateY(10%);
    }
}
/* #endregion*/

